.comp__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 95px; }
  @media (max-width: 1200px) {
    .comp__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 768px) {
    .comp__row {
      margin-bottom: 0; } }

.comp__col {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 30px;
  padding-right: 30px; }
  @media (max-width: 1200px) {
    .comp__col {
      margin-bottom: 40px; } }

.comp__img {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }
  .comp__img img {
    max-width: 100%; }

.comp__subtitle {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 16px; }

.comp__text {
  max-width: 660px; }
  @media (max-width: 768px) {
    .comp__text {
      font-size: 12px; } }

.comp__list {
  min-height: 440px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .comp__list {
      min-height: auto;
      line-height: 4.0; } }

.comp__item {
  font-size: 25px;
  position: relative; }
  .comp__item:hover {
    font-weight: 700;
    cursor: pointer; }
  .comp__item:before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #D4D4D4;
    left: -100px; }
    @media (max-width: 768px) {
      .comp__item:before {
        display: none; } }
  @media (max-width: 768px) {
    .comp__item {
      font-size: 14px; } }
